
:root{
  --white:#fff;

  --white-100:#e1e1e6;
  --white-200:#a8a8b3;
  --gray-100: #87868603;
  --gray-300: #797979;
  --gray-900: #121214;

  --green-500:#00e676;
  --green-300:#325337;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--white);

  -webkit-font-smoothing: antialiased;
  
}

body,input,button,textarea{
  font: 400 16px 'Roboto', sans-serif;
  font-size: 1rem;
}